body{
    background:#f2d363;
    text-align: center;
    color: #351b01;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;
  font-weight: 800;
  font-size: 38px;
  line-height: 2;
  color: #272044;
}
form{
    max-width: 700px;
  padding: 30px;
  background-color: #f7dd8a;
  box-shadow: 0px 20px 60px rgba(208, 196, 234, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;}

input{font-size: 20px;
padding: 10px;
}
footer{margin-top: 200px;}
.input-field{
padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
margin-bottom: 5px;}

.submit {
  margin-left: 10px;
  background: #bfacef;
  color:#272044;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}
.container {
  margin: 120px auto;
  max-width: 600px;}

.poem{
font-size: 16px;
  padding: 40px;
  line-height: 2;
  border-style: double;
  background-color:#f7dd8a;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

